.input:focus {
    outline: none;
}

.input {

    width: 100%;
    padding: 5px 20px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
    position: relative;
}

.superInput {
}

.errorInput {
    border-color: red;
}

.errorInput:focus {
}

.error {
    position: absolute;
    top: -15px;
    left: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #CC1439;
}
