.App {
    --header_height: 60px;
}

.hw {
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    padding: 24px 70px 32px 70px;
}

.hwTitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-left: 70px;
    margin-bottom: 10px;

}

.wrapper {
    padding-top: 131px;
    padding-bottom: 34px;
}

