.friendMessage {
    margin-bottom: 30px;
}

.friendImageAndText {
    display: flex;
    align-items: end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-right: 14px;
    margin-bottom: 5px;

}

.friendText {
    position: relative;
    background-color: #F5F7FB;
    padding: 8px 13px;
    border-radius: 11px 11px 11px 0;
    /*box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);*/

}

.friendText::after {


}

.friendText:after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 10px, #F5F7FB 0);
}

.friendName {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 3px;
}

.friendMessageText {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

/*.angle {*/
/*    position: absolute;*/
/*    left: -10px;*/
/*    bottom: 0;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    background-color: #F5F7FB;*/
/*  */

/*}*/

.friendTime {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-left: 11px;
}
