.sendForm {
display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 60px;
}

.textarea {
width: 100%;
    padding: 12px 24px;
    background-color: #F5F7FB;
    margin-right: 44px;
    border-radius: 20px;
    resize: none;

    border: none;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);

}

.textarea::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}

.button {
padding: 10px 39px;
    background-color: #0066CC;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: white;
    border: none;
    border-radius: 20px;
}

.button:hover {

}
.button:active {

}
